

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" href="#">
                  &nbsp;
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            Template by &copy; <a target="_blank" href="https://www.creative-tim.com/">Creative Tim</a> - <a target="_blank" href="https://appseed.us">AppSeed</a>
          </div>
        </div>
    </footer>
