{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        <div class="row">
            <div class="col-md-2">
                <div>
              <img src="static/assets/img/reconn.png" style="width:100%; display: inline;"/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">1) Reconnaissance</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        descrizione questa fase
                        <br />
                        Riga 1
                        <br />
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>
              <img src="static/assets/img/weapon.png" style="width:100%; display: inline;"/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">2) Weaponization</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        descrizione questa fase
                        <br />
                        Riga 1
                        <br />
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>
              <img src="static/assets/img/delivery.png" style="width:100%; display: inline;"/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">3) Delivery</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        descrizione questa fase
                        <br />
                        Riga 1
                        <br />
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>
              <img src="static/assets/img/exploitation.png" style="width:100%; display: inline;"/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">4) Exploitation</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        descrizione questa fase
                        <br />
                        Riga 1
                        <br />
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>
              <img src="static/assets/img/install.png" style="width:100%; display: inline;"/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">5) Installation</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        descrizione questa fase
                        <br />
                        Riga 1
                        <br />
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>
              <img src="static/assets/img/command.png" style="width:100%; display: inline;"/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">6) Command and Control</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        descrizione questa fase
                        <br />
                        Riga 1
                        <br />
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>
              <img src="static/assets/img/exfiltration.png" style="width:100%; display: inline;"/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">7) Exfiltration</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        descrizione questa fase
                        <br />
                        Riga 1
                        <br />
                      </div>
                    </div>
                  </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

