{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

{% block content %}
{% load keyvalue %}
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-info" style="overflow: auto; clear:both;">
              <div style="float: left; width: 85%;">
                <div><h3 style="margin: 0 0;">VPN</h3></div>
                <span>La <b>VPN</b> è al momento <b>OFF</b></span>
              </div>
              <div style="float: right; width: 15%;">
                <img src="static/fileOPENVPN.png" style="max-width: 60px; width: 100%;"><br />
                <a href="client.ovpn" download>Download</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="alert " style="color:black; background-color: transparent; border: 3px solid black; overflow: auto; clear:both;">
              <div style="float: left; width: 85%;">
                <div><h3 style="margin: 0 0;">Filtra</h3></div><br />
                Argomenti<br />
                {% for argomento in args %}
                  <a href="#"><span id="filtro_{{ argomento.pk }}" class="flt card-category tag_args filtro" style="display: inline-block;width: fit-content; border: 2px solid {{ argomento.colore }};">{{ argomento.argomento }}</span></a>

                {% endfor %}
                <br /><br />Livelli<br />
                {% for livello in livelli %}
                <a href="#"><span id="filtro_livello_{{ livello.pk }}" class="flt card-category tag_lvl filtro_lvl" style="display: inline-block;width: fit-content;  background-color: {{ livello.colore }}; color:white;">{{ livello.livello }}</span></a>

               {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          {% for laboratorio in labs %}
            {% with laboratorio_id=laboratorio.pk|stringformat:"s" %}
            {% with user_id=request.session.user_pk|stringformat:"s" %}

            {% with name_lab="labid_"|add:laboratorio_id|add:"_userid_"|add:user_id %}
            {% with lab_start_time="labid_"|add:laboratorio_id|add:"_userid_"|add:user_id|add:"_start_time" %}
            {% with lab_IP="labid_"|add:laboratorio_id|add:"_userid_"|add:user_id|add:"_IP" %}
            <div class="laboratorio col-md-6 filtro_livello_{{ laboratorio.livello.pk }} filtro_{{ laboratorio.argomento_1.pk }} filtro_{{ laboratorio.argomento_2.pk }} filtro_{{ laboratorio.argomento_3.pk }} filtro_{{ laboratorio.argomento_4.pk }}">
                <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title ">{{ laboratorio.nome }}</h4>
                      <p class="card-category">{{ laboratorio.sotto_titolo }}</p>
                      {% if laboratorio.argomento_1.colore|length >= 3 %}
                        <a href="/arg-{{ laboratorio.argomento_1.pk }}.html"><span class="card-category tag_args" style="  border: 2px solid {{ laboratorio.argomento_1.colore }};">{{ laboratorio.argomento_1.argomento }}</span></a>
                      {% endif %}
                      {% if laboratorio.argomento_2.colore|length >= 3 %}
                        <a href="/arg-{{ laboratorio.argomento_2.pk }}.html"><span class="card-category tag_args" style="  border: 2px solid {{ laboratorio.argomento_2.colore }};">{{ laboratorio.argomento_2.argomento }}</span></a>
                      {% endif %}
                      {% if laboratorio.argomento_3.colore|length >= 3 %}
                        <a href="/arg-{{ laboratorio.argomento_3.pk }}.html"><span class="card-category tag_args" style="  border: 2px solid {{ laboratorio.argomento_3.colore }};">{{ laboratorio.argomento_3.argomento }}</span></a>
                      {% endif %}
                      {% if laboratorio.argomento_4.colore|length >= 3 %}
                        <a href="/arg-{{ laboratorio.argomento_4.pk }}.html"><span class="card-category tag_args" style="  border: 2px solid {{ laboratorio.argomento_4.colore }};">{{ laboratorio.argomento_4.argomento }}</span></a>
                      {% endif %}
                      {% if laboratorio.livello.colore|length >= 3 %}
                        <span class="card-category tag_level" style=" background-color: {{ laboratorio.livello.colore }}; font-weight: bold;"><b>{{ laboratorio.livello.livello }}</b></span>
                      {% endif %}
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        {{ laboratorio.descrizione|safe }}
                        <br /><br />
                        
                        {% if name_lab in request.session %}
                          {% if request.session|keyvalue:name_lab == "running" %}
                            <button class="btn btn-primary" id="{{ laboratorio.pk }}_stop" onclick="return action_lab('stop_lab','{{ laboratorio.pk }}','result_{{ laboratorio.pk }}')">Stoppa Lab</button>
                            <button class="btn btn-primary" id="{{ laboratorio.pk }}_start" onclick="return action_lab('start_lab','{{ laboratorio.pk }}','result_{{ laboratorio.pk }}')" style="display:none;">Avvia Lab</button>
                            <br />IP Lab: {{ request.session|keyvalue:lab_IP }}
                            <script>
                              get_timer('{{ request.session|keyvalue:lab_start_time }}', 'timer_{{ laboratorio.pk }}', 30);
                            </script>
                          {% endif %} 
                        {% else %}
                          <button class="btn btn-primary" id="{{ laboratorio.pk }}_stop" onclick="return action_lab('stop_lab','{{ laboratorio.pk }}')" style="display:none;">Stoppa Lab</button>
                          <button class="btn btn-primary" id="{{ laboratorio.pk }}_start" onclick="return action_lab('start_lab','{{ laboratorio.pk }}')">Avvia Lab</button>
                        {% endif %} 
                        <span style="float: right;"><br /><a href="doc-lab-{{ laboratorio.pk }}.html">Documentazione</a></span>
                        <script>

                            function send_req(POST_REQUEST, lab){
  
                              var cb = null;

                              myObj = sendPost(csrftoken, "/core/", POST_REQUEST, function(cb, stat){
                                if(cb == "error"){
                                    if(stat == "404"){ //not found
                                    document.getElementById("result_"+lab).innerHTML = "ERRORE ("+stat+")";
                                    }else if(stat == "0"){
                                        document.getElementById("result_"+lab).innerHTML = "<img src=\"static/assets/img/loading.gif\">";
                                    }else{//altri errori, tipo 500 o 403
                                        document.getElementById("result_"+lab).innerHTML = "Errore: " + stat;
                                    }
                                }else if (typeof cb.error != "undefined"){ //errore custom
                                    document.getElementById("result_"+lab).innerHTML = "Errore: " + cb.error;
                                }else{
                                  
                                  if(typeof cb.response_action != "undefined"){
                                    if(cb.response_action == "stop_container"){
                                      document.getElementById(lab+"_start").style.display = 'none';
                                      document.getElementById(lab+"_stop").style.display = 'block';
                                      document.getElementById("timer_"+lab).style.display = 'block';
                                      get_timer(cb.start_time, 'timer_{{ laboratorio.pk }}', 30);
                                    }else if(cb.response_action == "start_container"){
                                      document.getElementById(lab+"_start").style.display = 'block';
                                      document.getElementById(lab+"_stop").style.display = 'none';
                                      document.getElementById("timer_"+lab).style.display = 'none';
                                    }

                                  }
                                  
                                    //questo nasconde il caricamento 
                                    document.getElementById("result_"+lab).innerHTML = cb.msg_response;
                                }
                              });

                              return cb;

                            }

                            function action_lab(action_lab, laboratorio){

                              var POST_REQUEST = {
                                action: encodeURIComponent(action_lab),
                                lab: encodeURIComponent(laboratorio)
                              }; 

                              send_req(POST_REQUEST, laboratorio);

                              return false;
                            }
                        </script>
                        <div id="result_{{ laboratorio.pk }}"></div>
                        <div id="timer_{{ laboratorio.pk }}"></div>
                      </div>
                    </div>
                  </div>
            </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
          {% endfor %}
        </div>

        <script src="/static/assets/js/core/jquery.min.js"></script>

        <script>
          $( document ).ready(function() {
              $(".flt").click(function() {
                //se è già attivo il filtro
                if ($(this).hasClass("tag_args_clicked")){
                  $(this).removeClass("tag_args_clicked");
                }else{
                  $(this).addClass("tag_args_clicked");
                }
                
                if ($(this).hasClass("tag_lvl_clicked")){
                  $(this).removeClass("tag_lvl_clicked");
                }else{
                  $(this).addClass("tag_lvl_clicked");
                }

                var filtri = [];    

                $(".tag_args_clicked").each(function( index ) {
                  filtri.push($(this).attr("id"));
                });

                $(".tag_lvl_clicked").each(function( index ) {
                  filtri.push($(this).attr("id"));
                });

                console.log(filtri);

                $(".laboratorio").each(function( index ) {
                  fLen = filtri.length;

                  found_filtro = false;
                  if(fLen > 0){
                    for (i = 0; i < fLen; i++) {
                      if($(this).hasClass(filtri[i]))
                        found_filtro = true;
                    }

                    if(found_filtro == false){
                      $(this).fadeOut( "slow", function() {});
                    }else{
                      $(this).fadeIn( "slow", function() {});
                    }
                  }else{
                    $(this).fadeIn( "slow", function() {});
                  }

                });


              });

          });
        </script>

{% endblock content %}

