{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">import_contacts</i>
            </div>
            <p class="card-category"><b style="color:black;">Argomenti Studiati</b></p>
            <h3 class="card-title">
              <span id="stats_argomenti"></span>
              <span class="load_stats"></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">flag</i>
            </div>
            <p class="card-category"><b style="color:black;">Flag Trovate</b></p>
            <h3 class="card-title">
              <span id="stats_flags"></span>
              <span class="load_stats"></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">grade</i>
            </div>
            <p class="card-category"><b style="color:black;">Punteggio</b></p>
            <h3 class="card-title">
              <span id="stats_punteggio"></span>
              <span class="load_stats"></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">developer_board</i>
            </div>
            <p class="card-category"><b style="color:black;">Laboratori Avviati</b></p>
            <h3 class="card-title">
              <span id="stats_labs"></span>
              <span class="load_stats"></span>
            </h3>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Classifica</h4>
            <p class="card-category" id="stats_tot_persone"></p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th style="width:30%;">Posizione</th>
                <th>Nome</th>
                <th>Punti</th>
              </thead>
              <tbody id="stats_classifica">
                <tr class="load_stats">
                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily Sales</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>


    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      
      md.initDashboardPageCharts();

      var POST_REQUEST = {
        action: encodeURIComponent("retrive_stats")
      };
      
      myObj = sendPost(csrftoken, "/core/", POST_REQUEST, function(cb, stat){
        if(cb == "error"){
            if(stat == "0"){
                $(".load_stats").html("<img src=\"static/assets/img/loading.gif\" style=\"width: 100%; max-width: 50px;\">");
            }
        }else if (typeof cb.error != "undefined"){ //errore custom
            $(".load_stats").html("Errore: " + cb.error);
        }else{
          
          if(typeof cb.risultato != "undefined"){
            
            if(cb.risultato == "tutto_ok"){


              $(".load_stats").fadeOut(function (){

                $("#stats_tot_persone").html("Su un totale di "+cb.tot_persone+" persone (Solo utenti iscritti sulla DashBoard)");
                $("#stats_argomenti").html(cb.argomenti);
                $("#stats_flags").html(cb.flags);
                $("#stats_punteggio").html(cb.punteggio);
                $("#stats_labs").html(cb.labs);

                var string_all_table = "";
                posizioni = 1;
                for (var key in cb.classifica){
                  string_all_table +="<tr><td style=\"width:30%;\">"+posizioni+"°</td><td>"+key+"</td><td>"+cb.classifica[key]+"</td></tr>";
                  posizioni++;
                }

                $("#stats_classifica").html(string_all_table);

              });


            }

          }else{
            $(".load_stats").html(stat);
          }
        }
      });

    });
  </script>

{% endblock javascripts %}
