{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Il tuo Profilo:</span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            Informazioni Base
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#password" data-toggle="tab">
                            Cambia Password
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
               <!-- <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Profile</h4>
                  <p class="card-category">Complete your profile</p>
                </div> -->
                <div class="card-body">
                  <div class="tab-content">

                    <div class="tab-pane active" id="profile">
                      <br />
                      <form>
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label class="bmd-label-floating">UserID (disabled)</label>
                              <input type="text" class="form-control" disabled value="{{ user_me.pk }}">
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label class="bmd-label-floating">Username</label>
                              <input type="text" class="form-control" value="{{ user_me.username }}">
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label class="bmd-label-floating">Indirizzo Email</label>
                              <input type="email" class="form-control" disabled value="{{ user_me.email }}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Nome</label>
                              <input type="text" class="form-control" value="{{ user_me.nome }}" id="nome">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Cognome</label>
                              <input type="text" class="form-control" value="{{ user_me.cognome }}" id="cognome">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Professione</label>
                              <input type="text" class="form-control" value="{{ user_me.professione }}" id="professione">
                            </div>
                          </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary pull-right" onclick="return update_infos();">Aggiorna Informazioni</button>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                    <div class="tab-pane" id="password">
                      <br />
                      <div class="row">

                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Password Attuale</label>
                            <input type="password" class="form-control" id="pwd_attuale">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nuova Password</label>
                            <input type="password" class="form-control" id="new_pwd">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Ripeti Nuova Password</label>
                            <input type="password" class="form-control" id="r_new_pwd">
                          </div>
                        </div>

                      </div>
                      <br />
                      <button type="submit" class="btn btn-primary pull-right" onclick="return update_pwd();">Aggiorna Password</button>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div id="result" style="width: 100%; text-align:center;">
                    
                  </div>
                  <br />
                  <div id="timer" style="width: 100%; text-align:center;">
                    
                  </div>
                  <script>

                    function send_req(POST_REQUEST){

                      var cb = null;

                      myObj = sendPost(csrftoken, "/core-user/", POST_REQUEST, function(cb, stat){
                        if(cb == "error"){
                            if(stat == "404"){ //not found
                            document.getElementById("result").innerHTML = "ERRORE ("+stat+")";
                            }else if(stat == "0"){
                                document.getElementById("result").innerHTML = "<img src=\"static/assets/img/loading.gif\">";
                            }else{//altri errori, tipo 500 o 403
                                document.getElementById("result").innerHTML = "Errore: <font color=\"red\">" + stat + "</font>";
                            }
                        }else if (typeof cb.error != "undefined"){ //errore custom
                            document.getElementById("result").innerHTML = "Errore: <font color=\"red\">" + cb.error + "</font>";
                        }else{
                          if(typeof cb.logout != "undefined"){
                            if(cb.logout == "si"){
                              var count = 6;
                              var timer = document.getElementById("timer");
                              setInterval(function(){ if(count > 0){count--; timer.innerHTML = "(Reindirizzamento in "+count+")";}else{window.location.href = "logout/";}}, 1000);
                              
                            }

                          }

                          document.getElementById("result").innerHTML = "<font color=\"green\"><b>" + cb.msg_response + "</b></font>";
                        }
                      });

                      return cb;
                    }

                    function update_infos(){

                      var POST_REQUEST = {
                        action: encodeURIComponent("update_infos"),
                        nome: encodeURIComponent(document.getElementById("nome").value),
                        cognome: encodeURIComponent(document.getElementById("cognome").value),
                        professione: encodeURIComponent(document.getElementById("professione").value)
                      }; 

                      send_req(POST_REQUEST);

                      return false;

                    }

                    function update_pwd(){

                      var POST_REQUEST = {
                        action: encodeURIComponent("update_pwd"),
                        pwd_attuale: encodeURIComponent(document.getElementById("pwd_attuale").value),
                        new_pwd: encodeURIComponent(document.getElementById("new_pwd").value),
                        r_new_pwd: encodeURIComponent(document.getElementById("r_new_pwd").value)
                      }; 

                      send_req(POST_REQUEST);

                      return false;
                    }
                    </script>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/static/assets/img/faces/marc.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">
                    {{ request.user.username }}
                  </h6>
                  <h4 class="card-title">
                    {{ request.suser.email }}
                  </h4>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
